@import "./utils/nuls";
@import "./utils/vars";
@import "./components/reused";
@import "./components/header";
@import "./components/footer";
@import "./components/modal";



// index.html

.hero {
  text-align: center;
  padding: 200px 0;

  @media (max-width: 1169px) {
    padding: 118px 0;
  }
  

  &__title {
    font-size: 44px;
    line-height: 1.4;
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    letter-spacing: 0.06em;
  
    margin: 0 auto 30px auto;
    max-width: 696px;
    
    @media (max-width: 1169px) {
      font-size: 26px;
      line-height: 1.6;
      max-width: 360px;
    }
  }

  &__button {
    display: inline-block;
    
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    min-width: 216px;
  
    cursor: pointer;
    background: $active-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition: background-color $animation;
  
    padding: 10px 32px;

    &:hover, &:focus {
      background: $background-btn;
    }

    @media (max-width: 1169px) {
      min-width: 200px;
    }
  }
}

.hero--bg {
  max-width: 1600px;
  margin: 0 auto;
  background: #C4C4C4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: 480px) {
    max-width: 480px;
  }

  @media (max-width: 768px) {
    max-width: 768px;
  }
}

.benefits {
  padding: 94px 0 0 0;

  @media (max-width: 1169px) {
      padding: 60px 0 60px 0;
    }
 

  &__list {
    display: flex;
    column-gap: 30px;

    @media (min-width: 767px) {
      
      flex-wrap: wrap;
      justify-content: center;
      margin: -15px;
    }
    
  }

  &__item {

    &:not(:last-child) {
    @media (max-width: 767px) {
      margin: 0 0 30px 0;
      }

    @media (min-width: 768px) {
      flex-basis: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }
  }
}

  &__bg {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 120px;
    background: #F5F4FA;
    margin: 0 0 30px 0;

    @media (min-width: 480px) {
      width: 100%;
    }
  }

  &__title {
    color: $main-color;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 10px 0;

    @media (max-width: 767px) {
      text-align: center;
    }
  }

  &__text {
    color: $secondary-color;
    line-height: 2;
  }
}

.work {

  @media (max-width: 1170px) {
    display: none;
  }

  &__list {
    display: flex;
    column-gap: 30px;
  }

  &__thumb {
    position: relative;
    display: flex;
  }

  &__imag {
    max-width: 100%;
    height: auto;
  }

  &__subtitle {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);

    & p {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-transform: uppercase;
      color: #fff;
    }
  }
}

.team {
  background: #F5F4FA;

  &__list {

    @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: -15px;
      }

  }

  &__item {
    text-align: center;
  
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
      @media (max-width: 767px) {
        margin-bottom: 30px;
      }
      }
    @media (min-width: 768px) {
      flex-basis: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }
  }

  &__imag {
    height: auto;

    @media (min-width: 480px) {
      width: 100%;
    }
  }

  &__name {
    color: $main-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    margin: 0 0 10px 0;
    padding: 30px 0 0 0;
  }

  &__profession {
    color: $secondary-color;
    font-size: 16px;
    line-height: 1.2;
    margin: 0 0 16px 0;
  }

  &__social {
    display: flex;
    justify-content: center;
    padding: 0 0 30px 0;
    column-gap: 10px;
  }
}

.company {

  &__list {

    @media (min-width: 480px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: -15px;
    }
  }

  &__item {

    @media (min-width: 480px) {
        flex-basis: calc((100% - 2 * 30px) / 2);
        margin: 15px;
      }

    @media (min-width: 768px) {
      flex-basis: calc((100% - 3 * 30px) / 3);
      margin: 15px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #afb1b8;
    transition: color $animation,
    background-color $animation,
    border-color $animation;

    &:hover {
      border-color: $active-color;
      color: $active-color;
      cursor: pointer;
    }
  }

  &__icon {
    fill: currentColor;
    transition: fill $animation;

    &:hover {
      fill: currentColor;
    }
  }
}


// portfolio

.portfolio {

  &__list {
    

    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
      
    }
  }

  &__item {
    
    &:not(:last-child) {
      @media (max-width: 767px) {
      margin: 0 0 30px 0;
    }
    }
    
    @media (min-width: 768px) {
      flex-basis: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #FFFFFF;
    transition: box-shadow $animation;

    &:hover {
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }

  &__overlay {
    overflow: hidden;
    position: relative;
  }

  &__imag {
    height: auto;

    @media (min-width: 480px) {
      width: 100%;
    }
  }

  &__thumb {
    position: absolute;
    top: 0;
    left: 0;
  
    background: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.55;
    color: #fff;
    padding: 63px 24px;
  
    height: 100%;
    width: 100%;
  
    transform: translateY(100%);
    transition: transform $animation;

    .portfolio__list .portfolio__item:hover & {
        transform: translateY(0);
      }
  }

  &__info {
    flex-grow: 1;
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
  }

  &__title {
    color: $main-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin: 0 0 4px 0;
  }

  &__text {
    color: $secondary-color;
    font-size: 16px;
    line-height: 2;
  }
}

.section {}

.container {}

.button {
  color: $main-color;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  background: #F5F4FA;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  transition: color $animation,
  background-color $animation;

  &:hover, &:focus {
    color: #fff;
    background: $active-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  &__list {
    display: flex;
    justify-content: center;
    column-gap: 8px;
  
    margin: 0 0 50px 0;

    @media (max-width: 767px) {
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 8px 21px;
    }
  }

  &__item {}
}

.portfolio-text {}