.header {
  position: relative;
  border-bottom: 1px solid #ECECEC;

  &__wrapper {
    display: flex;
    align-items: center;

    @media (max-width: 767px) {
      display: flex;
      justify-content: space-between;
    }
  }
}

.menu {

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    padding: 16px 0;
  }
  
  @media (max-width: 767px) {
      text-align: left;
      font-size: 40px;
      line-height: 1.17;
    }

  &__list {

    & li:not(:last-child) {
      @media (max-width: 767px) {
       margin: 0 0 35px 0;
    }
    }
    
      
    @media (min-width: 768px) {
      display: flex;
      column-gap: 50px;
    }
    }

  &__item {
    position: relative;
  }

  &__link {
    display: block;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--main-color);
  
    
    transition: color $animation;
    
    &:hover {
        color: $active-color;
      }

      @media (min-width: 768px) {
        padding: 32px 0;
      }
  }

  &__link--included {
    color: $active-color;
  }
}

.contacts {

  &__list {

    transition: color $animation;

    @media (max-width: 767px) {
      display: flex;
      flex-direction: column-reverse;

      & :not(:first-child) {
      font-size: 34px;
      line-height: 1.17;
      margin-bottom: 32px;
    }
    }

    @media (min-width: 768px) {
      color: #757575;
    }

    @media (min-width: 1170px) {
      display: flex;
      
      align-items: center;
      column-gap: 30px;
    }
  }

  &__item {

    & a {
      display: flex;
      
      font-weight: 500;
      letter-spacing: 0.02em;
      color: inherit;
      }

      &:hover {
      color: $active-color;
      cursor: pointer;
      }
  }

  &__link {
    transition: color $animation;

    &:hover {
      color: $active-color;
  }
}



  &__icon {
    margin: 0 10px 0 0;
    fill: currentColor;
    transition: fill $animation;

    @media (max-width:767px) {
      display: none;
    }
  }

  &__icon--email {
    width: 16px;
    height: 12px;

    &:hover {
      fill: currentColor;
    }
  }

  &__icon--phone {
    width: 10px;
    height: 16px;

    &:hover {
      fill: currentColor;
    }
  }
}


